

body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.product {
    background: white;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

button {
    background: #333;
    color: white;
    padding: 8px 15px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-box {
    position: fixed;
    right: -350px;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    padding: 20px;
    transition: 0.4s;
    box-shadow: -4px 0 10px rgba(0,0,0,0.2);
}

.cart-box.open {
    right: 0;
}

.close-btn {
    background: red;
}


